[submodule "LightlessAPI"]
	path = LightlessAPI
	url = https://github.com/yokidevcat/OnlyMareAPI.git
[submodule "PenumbraAPI"]
	path = PenumbraAPI
	url = https://github.com/Ottermandias/Penumbra.Api.git
